.card {
  padding: 20px;
  margin: 10px;
}

.card-header {
  background-color: lighten(black, 89%);
}

.card-header-title {
  font-size: 20px;
}

.title {
  font-size: 35px;
  text-align: center;
  padding-top: 20px;
}

.alert {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  text-align: center;
  font-size: 24px;          /* Increases the font size */
  font-weight: bold;        /* Makes the text bold */
  // height: 100vh;            /* Centers vertically by making the container full height */
  color: #d9534f;           /* Sets the text color to match the alert styling (Bootstrap's alert-warning color) */
}